<!-- hero -->
<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <p class="title has-text-centered">
        Keep It Simple, Stupid.
      </p>
      <div class="has-text-centered">
        <span class="icon">
          <a href="https://github.com/wuxiaobai24">
            <i class="fab fa-github"></i>
          </a>
        </span>
        <span class="icon">
          <a href="wuxiaobai24:wuxiaobai24@foxmail.com">
            <i class="far fa-envelope"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</section>
